html,body {
	height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-login-page .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.my-login-page .navbar img{
    margin-right: auto;
	align-items: right;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .title {
	padding-bottom: 30px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}


.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .border{
    background-color : #13884C;
}

.my-login-page .btn.btn-block{
    color : white;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}